<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand " href="/">Accueil</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
			{% for cat in categories %}
				<li class="nav-item">
					<a class="nav-link active lien-console" aria-current="page" href="/categories/{{cat.id}}">
						<h4 class="blanc">{{cat.Typemontre}}</h4>
					</a>
				</li>
			{% endfor %}
			</ul>

<form class="d-flex " role="search">
	<input class="form-control-sm " type="search" placeholder="Search" aria-label="Search">
	<i class="fa-solid fa-magnifying-glass btn blanc "></i>
</form>


<div class="me-5">
    {% if app.user %}
		<a href="/logout" class="blanc">Deconnexion</a>
    {% else %}
		<a href="/login" class="blanc"><i class="fa-solid fa-user blanc"></i>  Connexion</a>
    {% endif %}
</div>

</div>

<div>
	<a href="/panier" class="blanc"><i class="fa-solid fa-basket-shopping blanc"></i> Panier({{ panier | length}}) </a>
</div>

</div> 	
</nav>

{% if app.user %}
	{% if is_granted("ROLE_USER") %}
        <a class="dropdown-item " aria-current="page" href="/user">
			<h6 class="police">Home</h6>
		</a> 
    {% endif %}

	{% if is_granted("ROLE_ADMIN") %}
            <a class="dropdown-item " aria-current="page" href="/admin">
				<h6 class="police">Admin</h6>
			</a> 
    {% endif %}
{% endif %}

		</div>
	</div>
</nav> 
