{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="containeur">
    
    <div class="Fond">
        <div class="BanniereFond">Xbox PUB</div>
        <div class="BanniereFondJeux">Xbox PUB
            <div class="etage1">
                <div id="Jeux" class="Jeux_1_Img"></div>
                <div id="Jeux" class="Jeux_2_Img"></div>
                <div id="Jeux" class="Jeux_3_Img"></div>
                <div id="Jeux" class="Jeux_4_Img"></div>
            </div>

            <div class="etage2">
                <div id="Jeux" class="Jeux_5_Img"></div>
                <div id="Jeux" class="Jeux_6_Img"></div>
                <div id="Jeux" class="Jeux_7_Img"></div>
                <div id="Jeux" class="Jeux_8_Img"></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}


            {# <div><img src="/IMG/CallofDutty.png" alt="CallOfDutty" id="1"></div>
            <div><img src="/IMG/Fifa2023.png" alt="Fifa" id="2"></div>
            <div><img src="/IMG/Gta.png" alt="Gta" id="3"></div>
            <div><img src="/IMG/Spiderman.png" alt="Spiderman" id="4"></div> #}