{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="row produit-accueil">
    <div class="col-4 part1">
        <img src="images/Montre.png" alt="montre" class="image-accueil">
    </div>

    <div class="col-6 part2">
        <p class="blanc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis provident doloribus, esse deserunt fugit facere ipsum odit sed debitis libero aliquid aliquam laudantium animi ut officia dolorem, neque dolor natus?</p></div>
    </div>
</div>




{% endblock %}
