
.container{
    min-width: 100%;
    height: 720px;
    display: inline-block;
    border: 1px solid black;
    background-color: aqua;
    }


    p{margin-top: 10%;}

    #s1{border: 1px solid;
        width: 10%;
        margin-top: 30px;
        margin-left: 10px;
    }



    #s2{border: 1px solid;
        width: 10%;
        margin-top: 30px;
        margin-left: 10px;
    }

    #s1,#s2{display: table-cell;}