{% extends 'base.html.twig' %}


{% block title %}Page Categorie{% endblock %}

{% block body %}

<div class="container">
    <div class="card top" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Connexion</h5><hr>
            <p class="card-text">Identifiant<input type="text"></p>
            <p class="card-text">Mot de passe<input type="text"><a href="">S'inscrire</a></p>
            <a href="#" class="btn btn-primary">Submit</a>
        </div>
    </div>
</div>

<br><br>
{% endblock %}
