{% extends 'base.html.twig' %}


{% block title %}Page Categorie{% endblock %}

{% block body %}

<div class="container centre">
    <div class="card top" style="width: 18rem;">
        {# <div class="top blanc "><h5>Connexion</h5></div> #}
        <div class="card-text navbarsite blanc centre borderbot "><h5>Connexion</h5></div>
        <div class="card-body">
            <div class="row ">
            <p class="card-text ">Identifiant<input type="text"></p>
            <p class="card-text ">Mot de passe<input type="text"></p>
            <a href="#" class="gris centre">Submit</a>
            <a href="/" class="centre taille top">Inscription</a>
            </div>
        </div>
    </div>
</div>
<br><br>



{% endblock %}
