{% extends 'base.html.twig' %}


{% block title %}Page Accueil{% endblock %}

{% block body %}

<div class="container  top">
<div class="row">
<div class="col-7 border">
    <div class="row navbarsite">
        <div class="col-8 "><h2 class="blanc">Votre panier</h2></div>
        <div class="col-2"><button class="btn btn-sm btn-light top" type="button">Save</button></div>
        <div class="col-2"><button class="btn btn-sm btn-light top" type="button">Clear</button></div>
    </div>

    <div class="row ">
        <div class="col-2 "><img src="images/tank.png" alt="prod"></div>
        <div class="col-7 left"><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ratione sit...</h4>
                                    <span>en Stock</span>
                                    <h6>Couleur : "(...)"</h6>
                                    <div class="row">
                                        <div class="col-5 border">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Quantité</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </li>
                                        </div>
                                        <div class="col-3 border">Supprimer</div>
                                        <div class="col-4 border">Mettre de coté</div>
        
        </div></div>
        <div class="col-2"><h3>88.50</h3></div>
    </div>
    <hr>


    <div class="row ">
        <div class="col-2 "><img src="images/tank.png" alt="prod"></div>
        <div class="col-7"><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ratione sit...</h4>
                                    <span>en Stock</span>
                                    <h6>Couleur : "(...)"</h6>
                                    <div class="row">
                                        <div class="col-5 border">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Quantité</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </li>
                                        </div>
                                        <div class="col-3 border">Supprimer</div>
                                        <div class="col-4 border">Mettre de coté</div>
        
        </div></div>
        <div class="col-3 centre "><h3>88.50</h3></div>
    </div>
    <div class="row"><div class="col-12 centre"><hr><button class="btn btn-light border" type="button">Ajouter des produits</button><br><br></div></div>
    

</div>
<div class="col-4 left border demi">
   <div class="container2">
        <div class="row "><h3 class="blanc navbarsite">Cumul Panier</h3>
            <div class="col-8 top"><h5 class="" >Total</h5></div>
            <div class="col-4 top"><p class="">2598 $</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 centre">
                <button class="btn btn-warning" type="button">Règler mon panier</button><br><br>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
