{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<p>ID_COMERCIAL        : 15020646</p>
<p>POSTE               : RESSOURCES HUMAINES</p>
<br>
<p>CONTACT CLIENT : </p>

{% endblock %}
