
@media screen and (max-width: 576px) {

    #Image_Logo{width: 50%;}


    h1#Tout_Le_Jardin{float: right;
        margin-top: 6%;
        margin-right: 10%; }

    #Barre_Navigation{
        width: 100%;
        padding: 1%;
        background-color: black;}
        
    
    a{color: white; font-size: small;}
                   


    #Image_Promo{width: 100% ; height: auto; }

    


    #Section_Droite{
        background-color: gray;
        min-width: 50%;
        height: 250px;
        }


    h1,h2,p{font-size: small;}



    .barbecue1,.barbecue2,.barbecue3,.barbecue4,.barbecue5{
            width: 85px;
            height: 80px; }

}






@media screen and (min-width: 576px) {


    h1,h2,p{font-size:larger ;}
    

    #Image_Logo{width: 25%;
        height: auto;}


    #Image_Promo{width: 100% ; }


    h1#Tout_Le_Jardin{float: right;
        margin-top: 6%;
        margin-right: 10%;  }



    #Barre_Navigation{
        width: 100%;
        padding: 1%;
        background-color: black;}
        li{display: table-cell;}
        a{color: white;font-size: x-large;}
                   


        fieldset{border: solid black;
        margin-left: 50px;margin-right: 50px;
    width:50% ;}


    #Section_Droite,#Section_Gauche{
        display: table-cell;
    }


    #Section_Droite{
        background-color: gray;
        width: 20%;
        height: 500px;
        vertical-align: top;
        }
        

}