{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12"><h3 class="centre mb-5 ">Merci d'avoir passé commande ! </h3></div>   
    </div>
    <div class="row">
        <div class="col-6">
            <h4>Recapitulatif commande</h4>
            <tr>
            <td>produit</td>
            </tr>
        </div>
    </div>
    


{% endblock %}
