{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container">
<h1>Page accueil connexion Admin </h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nemo voluptatum placeat explicabo ducimus repellat enim doloremque maiores, reiciendis dolorem, quasi illo deserunt inventore, beatae a sint dolore impedit quaerat.</div>

{% endblock %}
