{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>INDEX USER</h1>

<section><p>NOM     : patik</p>
            <p>PRENOM  : PETIT</p></section>
            <p>AGE     : 48 ans</p>
            <p>SEXE    : HOMME</p>
<br>
            <p>ID_CLIENT   :   1 80 56</p>
            <p>EMAIL       :   Petit@gmail.com</p>
            <p>Contrat     :   Forfetaire</p>
{% endblock %}
