{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
<h1>Page accueil connexion USER </h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nemo voluptatum placeat explicabo ducimus repellat enim doloremque maiores, reiciendis dolorem, quasi illo deserunt inventore, beatae a sint dolore impedit quaerat.</div>






<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3 bg-dark"><h3 class='blanc centre'> Profil</h3><h6 class='blanc centre mb-5 me-5'>Voir mes coordonnées</h6></div>
    </div>
    <div class="row">
    <div class="col-4"></div>
    <div class="col-3 bg-dark centre"><h3 class='blanc'>Command</h3><h6 class='blanc centre mb-5 me-5'>Voir mes coordonnées</h6></div></div>
    <div class="row">
    <div class="col-2"></div>
    <div class="col-3 bg-dark"> <h3 class='blanc centre'>Mon suivi</h3><h6 class='blanc centre mb-5* me-5'>Voir mes coordonnées</h6></div></div>
</div>






{% endblock %}
