<nav class="navbar navbar-expand-lg navbar-dark navbarsite">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="images/IconWebGame.png"  width="40" height="40">   WebGame</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">  
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link active lien-console" aria-current="page" href="/categorie/2">Xbox</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/categorie/1">Playstation</a>
        </li>

         {# <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Produit">Pc</a>
        </li> #}

      
    
        <li class="nav-item">
            <a class="nav-link active blanc" aria-current="page" href="/connexion">Connexion/Deconnexion</a>
        </li>
      
      <li class="nav-item">
            <a class="nav-link active blanc" aria-current="page" href="/panier">Panier</a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

     


      <form class="d-flex" role="search">
        <input class="form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


