{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="card-body centre border">
		<h1>Ma Fiche Client</h1>
		<label for="" class="top"><h6>Name</h6></label><br>
		<input type="text" class="centre" value="client.name"></input><br>
        <label for="" class="top"><h6>NickName</h6></label><br>
		<input type="text" class="centre" value="client.name"></input><br>
        <label for="" class="top"><h6>Years</h6></label><br>
		<input type="text" class="centre" value="client.name"></input><br>
        <label for="" class="top"><h6>Client_ID</h6></label><br>
		<input type="text" class="centre bot" value="client.name"></input><br>
    </div>
{% endblock %}
